*{
    margin:0;
}

.menu{
    height:8vh;
    height:8dvh;
    width:8vh;
    width:8dvh;
    position:fixed;
    background-color:red;
}

.head{
    height:8vh;
    height:8dvh;
    width:100vw;
    background-color:#2d2d2d;
    display:flex;
    justify-content:center;
    align-items:center;
    filter: drop-shadow(10px 10px 21px rgba(45,45,45,0.4));
}

.head_logo{
    height:6vh;
    height:6dvh;
}

.middle{
    height:85vh;
    height:85dvh;
    background-color:rgb(224, 246, 255);
}

.blank{
    display:none;
}

.index{
    display:none;
}

.sub{
    display:none;
}

.iosadd{
    display:none;
}

.androidadd{
    display:block;
}


.index_title{
    padding-top:3vh;
    padding-top:3dvh;
    padding-bottom:5vh;
    padding-bottom:5dvh;
    font-size:3vh;
    font-size:3dvh;
    height:6vh;
    height:6dvh;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
}

.index_hs{
    height:25vh;
    height:25dvh;
}

.index_hs_title{
    height:5vh;
    height:5dvh;
    padding-top:1vh;
    padding-top:1dvh;
    padding-left:3vh;
    padding-left:3dvh;
    font-size:3vh;
    font-size:3dvh;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    display:flex;
    align-items:center;
}

.index_hs_des{
    height:18vh;
    height:18dvh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.index_hs_des_content{
    height:15vh;
    height:15dvh;
    width:85%;
    border-radius:5vh;
    border-radius:5dvh;
    background-color:#ffffff;
    filter: drop-shadow(10px 10px 21px rgba(45,45,45,0.4));
}


.index_jhs{
    height:30vh;
    height:30dvh;
}

.index_jhs_title{
    height:5vh;
    height:5dvh;
    padding-top:1vh;
    padding-top:1dvh;
    padding-left:3vh;
    padding-left:3dvh;
    font-size:3vh;
    font-size:3dvh;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    display:flex;
    align-items:center;
}

.index_jhs_des{
    height:18vh;
    height:18dvh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.index_jhs_des_content{
    height:15vh;
    height:15dvh;
    width:85%;
    border-radius:5vh;
    border-radius:5dvh;
    background-color:#ffffff;
    filter: drop-shadow(10px 10px 21px rgba(45,45,45,0.4));
}




.sub_title{
    padding-top:3vh;
    padding-top:3dvh;
    padding-bottom:5vh;
    padding-bottom:5dvh;
    font-size:3vh;
    font-size:3dvh;
    height:6vh;
    height:6dvh;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
}

.sub_content{
    height:80vh;
    height:80dvh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.sub_content_button{
    height:15vh;
    height:15dvh;
    width:80%;
    background-color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:4vh;
    font-size:4dvh;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    filter: drop-shadow(10px 10px 21px rgba(45,45,45,0.4));
    border-radius:5vh;
    border-radius:5dvh;
}



.iosadd_title{
    padding-top:2vh;
    padding-top:2dvh;
    padding-bottom:2vh;
    padding-bottom:2dvh;
    font-size:3vh;
    font-size:3dvh;
    height:6vh;
    height:6dvh;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
}

.iosadd_step1{
    height:15vh;
    height:15dvh;
}

.iosadd_step1_des{
    height:5vh;
    height:5dvh;
    font-size:2.5vh;
    font-size:2.5dvh;
    padding-left:3vh;
    padding-left:3dvh;
    display:flex;
    align-items:center;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.iosadd_step1_pic{
    height:7.5vh;
    height:7.5dvh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.iosadd_step1_pic_img{
    width:90%;
    border-radius:2vh;
    border-radius:2dvh;
}

.iosadd_step2{
    height:19.5vh;
    height:19.5dvh;
}

.iosadd_step2_des{
    height:5vh;
    height:5dvh;
    font-size:2.5vh;
    font-size:2.5dvh;
    padding-left:3vh;
    padding-left:3dvh;
    display:flex;
    align-items:center;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.iosadd_step2_pic{
    height:12vh;
    height:12dvh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.iosadd_step2_pic_img{
    width:90%;
    border-radius:2vh;
    border-radius:2dvh;
}


.iosadd_step3{
    height:30vh;
    height:30dvh;
}

.iosadd_step3_des{
    height:5vh;
    height:5dvh;
    font-size:2.5vh;
    font-size:2.5dvh;
    padding-left:3vh;
    padding-left:3dvh;
    display:flex;
    align-items:center;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.iosadd_step3_pic{
    height:25vh;
    height:25dvh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.iosadd_step3_pic_img{
    width:90%;
    border-radius:2vh;
    border-radius:2dvh;
}


.androidadd_title{
    padding-top:3vh;
    padding-top:3dvh;
    padding-bottom:5vh;
    padding-bottom:5dvh;
    font-size:3vh;
    font-size:3dvh;
    height:6vh;
    height:6dvh;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
}

.androidadd_content{
    height:80vh;
    height:80dvh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.androidadd_content_button{
    height:15vh;
    height:15dvh;
    width:80%;
    background-color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:4vh;
    font-size:4dvh;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    filter: drop-shadow(10px 10px 21px rgba(45,45,45,0.4));
    border-radius:5vh;
    border-radius:5dvh;
}




.bottom{
    height:7vh;
    height:7dvh;
    background-color:#2d2d2d;
    filter: drop-shadow(-10px -10px 21px rgba(45,45,45,0.4));
}